version: 2
updates:
- package-ecosystem: gomod
  directory: "/xrayaws"
  schedule:
    interval: weekly
    time: "20:00"
  open-pull-requests-limit: 10
- package-ecosystem: gomod
  directory: "/xrayaws-v2"
  schedule:
    interval: weekly
    time: "20:00"
  open-pull-requests-limit: 10
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
    time: "20:00"
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: github.com/aws/aws-sdk-go
    versions:
    - "> 1.30.12"
    - "< 1.31"
  - dependency-name: github.com/aws/aws-sdk-go
    versions:
    - "> 1.31.3"
    - "< 1.32"
